<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1P" stopProcessing="true">
            <match url="^(.*)$" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
        <handlers>
            <remove name="php-5.6.31" />
            <add name="php-5.6.31" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
  </system.webServer>
</configuration>